/* Start Font */
@font-face {
  font-family: "JF Flat Regular";
  src: url("../fonts/flat-font/JF-Flat-regular.eot");
  src: url("../fonts/flat-font/JF-Flat-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/flat-font/JF-Flat-regular.svg#JF Flat Regular") format("svg"), url("../fonts/flat-font/JF-Flat-regular.woff") format("woff"), url("../fonts/flat-font/JF-Flat-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
/* End Font */
/* Start Vars */
/* End Vars */
/* Start Defaults */
body {
  direction: rtl;
  font-family: "JF Flat Regular"; }

/* End Defaults */
/* Start Scroll */
::-webkit-scrollbar {
  width: 1px;
  background-color: #454c4d; }

::-webkit-scrollbar:hover {
  width: 8px; }

::-webkit-scrollbar-track {
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #7f8c8d; }

/* End Scroll */
/* Start Loader Section */
.loader-Section {
  width: 100vw;
  height: 100vh;
  background-color: #1abc9c;
  z-index: 999999999;
  position: fixed;
  top: 0; }
  .loader-Section .sk-folding-cube {
    margin: 20px auto;
    width: 70px;
    height: 70px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
    transform: rotateZ(45deg);
    top: 40vh; }
    .loader-Section .sk-folding-cube .sk-cube {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1); }
    .loader-Section .sk-folding-cube .sk-cube:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #fff;
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
      animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
      transform-origin: 100% 100%; }
    .loader-Section .sk-folding-cube .sk-cube2 {
      -webkit-transform: scale(1.1) rotateZ(90deg);
      transform: scale(1.1) rotateZ(90deg); }
    .loader-Section .sk-folding-cube .sk-cube3 {
      -webkit-transform: scale(1.1) rotateZ(180deg);
      transform: scale(1.1) rotateZ(180deg); }
    .loader-Section .sk-folding-cube .sk-cube4 {
      -webkit-transform: scale(1.1) rotateZ(270deg);
      transform: scale(1.1) rotateZ(270deg); }
    .loader-Section .sk-folding-cube .sk-cube2:before {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s; }
    .loader-Section .sk-folding-cube .sk-cube3:before {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s; }
    .loader-Section .sk-folding-cube .sk-cube4:before {
      -webkit-animation-delay: 0.9s;
      animation-delay: 0.9s; }
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
    transform: perspective(140px) rotateX(-180deg);
    opacity: 0; }
  25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
    transform: perspective(140px) rotateX(0deg);
    opacity: 1; }
  90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
    transform: perspective(140px) rotateY(180deg);
    opacity: 0; } }
/* End Loader Section */
/* Start Section Black */
.black-Section {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.5); }

/* End Section Black */
/* Start Types */
.side-nav {
  direction: ltr;
  text-align: right; }
  .side-nav input, .side-nav label {
    direction: rtl; }
  .side-nav li {
    margin-top: 15px; }
    .side-nav li a {
      font-size: 16px; }
    .side-nav li .contactUs:hover {
      background-color: transparent;
      cursor: default; }
    .side-nav li .home-Page {
      background-color: transparent;
      text-align: center; }
      .side-nav li .home-Page:hover {
        background-color: transparent; }
  .side-nav input[type=text].validate + label {
    width: 96%; }
  .side-nav .select-wrapper span.caret {
    left: 0;
    right: auto; }
  .side-nav .select-wrapper label {
    font-size: 0.9rem;
    right: 0; }
  .side-nav .dropdown-content {
    direction: ltr; }
    .side-nav .dropdown-content li {
      text-align: right;
      direction: rtl; }

.show-Types {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.drag-Arrow {
  position: fixed;
  top: 50%;
  right: -12px;
  font-size: 28px;
  color: rgba(255, 255, 255, 0.5); }

/* End Types */

/*# sourceMappingURL=Header.css.map */
